html, body {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/theme/number-background.svg");
  background-size: cover;
}

.game-container {
  margin: 6rem auto;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  height: 45%;
  width: 60%;
  max-width: 900px;
  font-size: 1.5rem;
  font-weight: bold;
}

h1 {
  font-family: "Mountains of Christmas", cursive;
  text-shadow: 5px 5px 8px rgba(255, 255, 255, 0.7);
  color: #1F4529;
  /* margin: 0 0 20px; */
}

#number-display {
  font-size: 2rem;
  font-weight:bold;
  margin: 20px 0;
}

.hidden {
  display: none;
}

input {
  width: 90%;
  padding: 10px;
  margin: 25px auto 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 17px;
}

button {
  background-color: #1F4529;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color:white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  background-color: #47663B;
}

.progress-bar-container {
  width: 90%;
  padding-top: 3px;
  margin: 10px auto;
  height: 5%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #47663B;
  transition: width 0.1s linear;
}

/* Reset Button */
#reset-score {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#reset-score:hover {
  background-color: #e0a800;
}

/* Button Container for Exit and Reset at Bottom */
.button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
}

.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 0;
}

.dropdown-menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  padding: 0;
}

.menu-button:hover {
  background-color: transparent;
}

.bar {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s;
}

/* First bar */
.bar:nth-child(1) {
  width: 27px;
}

/* Second bar */
.bar:nth-child(2) {
  width: 20px;
}

/* Third bar */
.bar:nth-child(3) {
  width: 25px;
}

.menu-button:hover .bar {
  width: 30px;
}

.hidden {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}