body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 10px white);
  animation: gradientAnimation 5s ease infinite;
  font-family: "Mountains of Christmas";
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cover {
  background-size: cover;
  background-position: center;
}

.col {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 50px;
}

/* Snow container */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

@keyframes fall {
  100% {
    transform: translate(10vw, 30vh) scale(0.5);
  }
  to {
    transform: translate(5vw, 100vh) scale(0.5);
  }
}

.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
}

.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 0;
}

.dropdown-menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  padding: 0;
}

.menu-button:hover {
  background-color: transparent;
}

.bar {
  height: 4px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s;
}

/* First bar */
.bar:nth-child(1) {
  width: 27px;
}

/* Second bar */
.bar:nth-child(2) {
  width: 20px;
}

/* Third bar */
.bar:nth-child(3) {
  width: 25px;
}

.menu-button:hover .bar {
  width: 30px;
}

.hidden {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}