body {
  height: 100vh;
  background: linear-gradient(135deg, #B19CD8, #D955B5);
  animation: gradientAnimation 5s ease infinite;
  font-family: "Mountains of Christmas";
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cover {
  background-size: cover;
  background-position: center;
}

.col {

  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  font-size: 50px;

}